.container-card {
    display: flex;
    /* border: 2px solid wheat; */
    /* justify-content: space-around; */
    height: 20vh;
    background: #082032;
    padding-left: 5rem;
  }
  
  .logo-card {
    /* margin-left: 3rem; */
    margin-top: 2rem;
    width: 60px;
    height: 60px;
  }
  
  .back {
    margin-left: 3rem;
    margin-top: 3.2rem;
  }
  
  .btn-card {
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-color: #678983;
    color: white;
    font-family: sans-serif;
  }

  div .head-card{
    margin-left: 28%;
    margin-top: 3rem;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
  }
  
  .h1-head{
    color: white;
  }